{{ define "main" }}
<div class="container mt-4">
    <h1 class="text-center mb-5">{{ .Title }}</h1>
    <div class="row row-cols-1 {{- with .Resources.ByType "image" -}}row-cols-md-2{{- end -}}">
        {{- with .Resources.ByType "image" -}}
        <div class="col">
            {{- range first 1 . -}}
            <img src="{{ .RelPermalink }}" class="img-fluid">
            {{- end -}}
        </div>
        {{- end -}}
        <div class="col">
            <h5 class="mb-4">Specifications</h5>
            {{- if eq .Params.component "objective" -}}
            {{/* Objective */}}
            <p>
                <b>Magnification:</b> {{ .Params.magnification }}
            </p>
            <p>
                <b>Immersion medium:</b> {{ .Params.immersionmedium }}
            </p>
            <p>
                <b>Numerical aperture:</b> {{ .Params.numericalaperture }}
            </p>
            <p>
                <b>Working distance:</b> {{ .Params.workingdistance }}
            </p>
            
            {{/* Filter cube */}}
            {{- else if eq .Params.component "filter" -}}

            {{/* Cameras */}}
            {{- else if eq .Params.component "camera" -}}
            <p>
                <b>Sensor size:</b> {{ .Params.sensorsize | safeHTML }}
            </p>
            <p>
                <b>Sensor type:</b> {{ .Params.sensortype }}
            </p>
            <p>
                <b>Pixel size:</b> {{ .Params.sensorpxsize | safeHTML }}
            </p>

            {{/* Light sources */}}
            {{- else if eq .Params.component "light-source" -}}
            <p>
                <b>Available wavelengths:</b>
                {{- $nl := len .Params.wavelengths -}}
                {{- range $idx, $lambda := .Params.wavelengths }}
                    {{$lambda}}
                    {{- if not (eq $idx (sub $nl 1)) -}}
                    ,
                    {{- end -}}
                {{- end -}}
            </p>
            {{- else if eq .Params.component "environmental-controller" -}}
            <p>
                <b>Environmental controls:</b>
                {{- $ne := len .Params.envcontrols -}}
                {{- range $idx, $env := .Params.envcontrols }}
                    {{$env}}
                    {{- if not (eq $idx (sub $ne 1)) -}}
                    ,
                    {{- end -}}
                {{- end -}}
            </p>
            {{- end -}}
            {{- with .Params.website -}}
            <p>
                <b>Manufacturer's website:</b> <a href="{{ . }}">{{ . }}</a>
            </p>    
            {{- end -}}
        </div>
    </div>
</div>
{{ end }}