{{ define "main" }}
{{- $page := . -}}
{{- $featimg := .Resources.GetMatch "featured*" -}}

{{/* Title and header */}}
{{- with $featimg -}}
<div class="d-flex justify-content-center elem-hero" style="background-image: url({{.Permalink}});">
    <div class="align-self-center p-3" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));">
        <h1 class="text-center text-white">{{ $page.Title }}</h1>
    </div>
</div>
{{- else -}}
<div class="align-self-center mt-5">
    <h1 class="text-center">{{ $page.Title }}</h1>
    <p class="text-center fs-4 fw-light">{{ $page.Description }}</p>
</div>
{{- end -}}

<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-10 mx-auto">
            {{- with .Params.imagecaption -}}
            <div class="page-image-caption mb-4">
                Banner image: {{ . | markdownify }}
            </div>
            {{- end -}}
            <h3>{{ dateFormat "January 02, 2006" .Date }}</h3>
            {{- with .Params.authors -}}
            {{- $nauthors := len . -}}
            <p>By 
                {{ range $idx, $name := . -}}
                    {{- if gt $idx 0 -}}
                        {{- if lt (add $idx 1) $nauthors -}}
                        ,
                        {{ else }}
                        and
                        {{ end -}}
                    {{- end -}}
                    {{ $name }}
                {{- end -}}
            </p>
            {{- end -}}
            <div class="page-content">
                {{ .Content }}
            </div>
        </div>
    </div>
</div>
{{ end }}