{{ define "main" }}
{{- $page := . -}}
{{- $featimg := .Resources.GetMatch "featured*" -}}

{{/* Title and header */}}


    <div class="align-self-center mt-5">
        <h1 class="text-center">{{ $page.Title }}</h1>
        <p class="text-center fs-4 fw-light">{{ $page.Description }}</p>
    </div>


<div class="container mt-5">
    <div class="row text-center">
    {{- if (and $featimg (eq ( .Params.HideBanner | default false ) false)) -}}
{{- $scaled := $featimg.Fill "1200x500" -}}
<img alt="Screenshot of ALMC website" src="{{ $scaled.RelPermalink }}" class="img-fluid mb-5">
{{- end -}}
    </div>

    <div class="row">
        <div class="col-12 col-md-10 mx-auto">
            {{- with .Params.imagecaption -}}
            <div class="page-image-caption mb-4">
                Banner image: {{ . | markdownify }}
            </div>
            {{- end -}}
            <h4>{{ dateFormat "January 02, 2006" .Date }}</h4>
            {{- with .Params.authors -}}
            {{- $nauthors := len . -}}
            <p>By
                {{ range $idx, $name := . -}}
                {{- if gt $idx 0 -}}
                {{- if lt (add $idx 1) $nauthors -}}
                ,
                {{ else }}
                and
                {{ end -}}
                {{- end -}}
                {{ $name }}
                {{- end -}}
            </p>
            {{- end -}}
            <div class="page-content">
                {{ .Content }}
            </div>
        </div>
    </div>
</div>
{{ end }}