{{ define "main" }}
{{- $page := . -}}
{{- $featimg := .Resources.GetMatch "featured*" -}}

{{/* Header image */}}
{{- if (and $featimg (eq ( .Params.hidebanner | default false ) false)) -}}
<div class="w-100">
    {{- $scaled := $featimg.Fill "1500x500" -}}
    <img alt="Banner image" src="{{ $scaled.RelPermalink }}" class="w-100 mb-1">
</div>
{{- with .Params.imagecaption -}}
<div class="page-image-caption mb-1 ms-3">
    Banner image: {{ . | markdownify }}
</div>            
{{- end -}}
{{- end -}}

<div class="container mt-1">
    <div class="row">
        <div class="col-12 col-md-10 mx-auto">
            <div class="align-self-center mt-5">
                <h1>{{ $page.Title }}</h1>
                {{- with $page.Description -}}
                <p class="fs-6 fw-light">{{ . }}</p>
                {{- end -}}
            </div>
            <h5>{{ dateFormat "January 02, 2006" .Date }}</h5>
            {{- with .Params.authors -}}
            {{- $nauthors := len . -}}
            <p>By
                {{ range $idx, $name := . -}}
                {{- if gt $idx 0 -}}
                {{- if lt (add $idx 1) $nauthors -}}
                ,
                {{ else }}
                and
                {{ end -}}
                {{- end -}}
                {{ $name }}
                {{- end -}}
            </p>
            {{- end -}}
            <div class="page-content">
                {{ .Content }}
            </div>
        </div>
    </div>
</div>
{{ end }}