{{- with .Params.envctrls -}}
<h6><span class="material-icons" style="vertical-align: middle;">thermostat</span> Environmental Controllers</h6>
<ul class="spec-list">
    {{- range $idx, $val := . -}}
    {{ $comppage := site.GetPage (printf "/component/%s" $val) }}
    <li><a href="{{ $comppage.RelPermalink }}" class="text-body">
            {{ $comppage.Params.model }}
        </a>
        <ul class="spec-list">
            {{- range $comppage.Params.envcontrols -}}
            <li>{{ . }}</li>
            {{- end -}}
        </ul>
    </li>
    {{- end -}}
</ul>
{{- end -}}