{{ define "main" }}
{{- $page := . -}}
{{- $featimg := .Resources.GetMatch "featured*" -}}
{{/* Title and header */}}
{{- with $featimg -}}
<div class="d-flex justify-content-center elem-hero" style="background-image: url({{.Permalink}}); background-position:center !important;">
    <div class="align-self-center p-3" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));">
        <h1 class="text-center text-white">{{ $page.Title }}</h1>
    </div>
</div>
{{- else -}}
<div class="align-self-center mt-5">
    <h1 class="text-center">{{ $page.Title }}</h1>
    <p class="text-center fs-4 fw-light">{{ $page.Description }}</p>
</div>
{{- end -}}

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-xl-8 mx-auto page-content">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}

