{{- $list := .Scratch.Get "speclist" -}}
{{- $icon := .Scratch.Get "specicon" -}}
{{- if $list -}}
    {{- range $idx, $val := $list -}}
    {{ $comppage := site.GetPage (printf "/component/%s" $val) }}
    <tr>
        <td>{{- if eq $idx 0 -}}<span class="material-icons">{{$icon}}</span>{{- end -}}</td>
        <td>
            {{/* Objectives */}}
            {{- if eq $comppage.Params.component "objective" -}}
            <a href="{{ $comppage.RelPermalink }}" class="text-body">
                {{ $comppage.Params.magnification }}
                {{ $comppage.Params.model }}
            </a>
            {{- else if eq $comppage.Params.component "filter" -}}
            <a href="{{ $comppage.RelPermalink }}" class="text-body">
                {{ $comppage.Params.model }}
            </a>
            <ul>
            {{ range $comppage.Params.filtersets }}
                <li>{{ . }}</li>
            {{ end }}
            </ul>

            {{- else if eq $comppage.Params.component "camera" -}}
            <a href="{{ $comppage.RelPermalink }}" class="text-body">
                {{ $comppage.Params.model }}
            </a>
            <ul>
                <li>{{ $comppage.Params.sensortype }}</li>
                <li>{{ $comppage.Params.sensorsize }}</li>
            </ul>

            {{- else if eq $comppage.Params.component "light-source" -}}
            <a href="{{ $comppage.RelPermalink }}" class="text-body">
                {{ $comppage.Params.model }}
            </a>
            <ul>
                {{- range $comppage.Params.wavelengths -}}
                <li>{{ . }}</li>
                {{- end -}}
            </ul>

            {{- else if eq $comppage.Params.component "environmental-controller" -}}
            <a href="{{ $comppage.RelPermalink }}" class="text-body">
                {{ $comppage.Params.model }}
            </a>
            <ul>
                {{- range $comppage.Params.envcontrols -}}
                <li>{{ . }}</li>
                {{- end -}}
            </ul>

            {{- end -}}
        </td>
    </tr>
    {{- end -}}
{{- end -}}