{{ $currentPage := . }}
<nav class="navbar navbar-top" style="background-color: white;">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://colorado.edu"><img src="/img/cu-boulder-logo.png" class="navbar-top-logo"></a>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainnavbar"            aria-controls="mainnavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span> Menu
        </button>
        <div class="collapse navbar-collapse" id="mainnavbar">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {{- range .Site.Menus.main -}}
                {{ $active := or (eq $.Permalink .Permalink) (or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .)) }}
                {{- if .HasChildren -}}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            {{ .Name }}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {{- range .Children -}}
                            <li><a class="dropdown-item" href="{{ .Permalink }}">{{ .Name }}</a></li>
                            {{- end -}}
                        </ul>
                    </li>
                {{- else -}}
                    <li class="nav-item">
                        <a class="nav-link {{ if $active }}active{{ end }}"
                            href="{{ .Permalink }}">{{ .Name }}</a>
                    </li>
                {{- end -}}
                {{- end -}}
            </ul>
        </div>
    </div>
</nav>