<div id="site-footer" class="container-fluid site-footer-bar mt-5">
    <div class="d-flex flex-column flex-md-row p-2 justify-content-start justify-content-md-between">
        <div class="p-2 py-3">
            <a href="{{.Site.BaseURL}}" class="fw-bold">Advanced Light Microscopy Core</a><br>
            JSCBB C350<br>
            3415 Colorado Avenue<br>
            Boulder, CO 80303<br>
            <br>
            email: <a href="mailto:biof-imaging@colorado.edu">biof-imaging@colorado.edu</a>
        </div>
        <div class="p-2 py-3">
            <a href="https://www.colorado.edu/"><img src="/img/be-boulder-logo.png" id="site-footer-beboulder"></a><br>
            <a href="https://www.colorado.edu/" style=" font-weight:bold;">University of Colorado
                Boulder</a><br>
            &copy; Regents of the University of Colorado<br>
            <a href="https://www.colorado.edu/policies/privacy-statement">Privacy</a> &#8226; <a
                href="https://www.colorado.edu/about/legal-trademarks">Legal & Trademarks</a>
            &#8226; <a href="https://www.colorado.edu/map/?id=336#!mc/40.01107475119453,-105.24685084819795?z/17">Campus Map</a>
        </div>
    </div>
</div>