{{- $id := .Get "title" | truncate 15 | urlize -}}
{{- $hid := printf "heading_%s" $id  -}}
{{- $isopen := .Get "isopen" | default false -}}

<div class="accordion-item">
    <h2 class="accordion-header" id="{{ $hid }}">
      <button class="accordion-button{{ if not $isopen }} collapsed{{ end }}" type="button" data-bs-toggle="collapse" data-bs-target="#{{ $id }}" aria-expanded="{{if not $isopen }}false{{ else }}true{{ end }}" aria-controls="{{ $id }}">
        {{ .Get "title" }}
      </button>
    </h2>
    <div id="{{ $id }}" class="accordion-collapse collapse {{ if $isopen }}show{{ end }}" aria-labelledby="{{ $hid }}" data-bs-parent="#bsaccordion">
      <div class="accordion-body">
        {{ .Inner | markdownify }}
      </div>
    </div>
  </div>